In [72]:
import pandas as pd
import numpy as np
import sklearn.metrics as skm
from sklearn.model_selection import train_test_split

In [93]:
iris= pd.read_csv("/Users/sebastianloeza/Desktop/Escuela/4to semestre/Aplicaciones_Ciencia_Datos/Practicas/PracticaKNN/Iris.csv")

In [94]:
iris['Species'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [95]:
iris.loc[iris['Species']=='Iris-setosa','Species']=1
iris.loc[iris['Species']=='Iris-versicolor','Species']=2
iris.loc[iris['Species']=='Iris-virginica','Species']=3

In [96]:
iris

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm Species
0      1            5.1           3.5            1.4           0.2       1
1      2            4.9           3.0            1.4           0.2       1
2      3            4.7           3.2            1.3           0.2       1
3      4            4.6           3.1            1.5           0.2       1
4      5            5.0           3.6            1.4           0.2       1
..   ...            ...           ...            ...           ...     ...
145  146            6.7           3.0            5.2           2.3       3
146  147            6.3           2.5            5.0           1.9       3
147  148            6.5           3.0            5.2           2.0       3
148  149            6.2           3.4            5.4           2.3       3
149  150            5.9           3.0            5.1           1.8       3

[150 rows x 6 columns]

In [97]:
x=iris.drop(['Id','Species'], axis=1)
y=iris['Species']

In [98]:
X_train,X_test,y_train,y_test= train_test_split(x,y, test_size=0.3, stratify=y )

In [99]:
print(type(X_train))
print(type(X_test))
print(type(y_train))
print(type(y_test))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [100]:
y_train

100    3
115    3
136    3
48     1
27     1
      ..
89     2
124    3
135    3
11     1
149    3
Name: Species, Length: 105, dtype: object

In [101]:
y_test

34     1
98     2
102    3
19     1
46     1
92     2
145    3
141    3
18     1
85     2
45     1
68     2
109    3
47     1
106    3
67     2
62     2
72     2
132    3
91     2
81     2
73     2
139    3
120    3
126    3
138    3
1      1
75     2
103    3
116    3
31     1
113    3
24     1
131    3
66     2
36     1
142    3
5      1
9      1
2      1
65     2
7      1
84     2
77     2
37     1
Name: Species, dtype: object

In [102]:
def euclidean_distance(p:np.ndarray,q:np.ndarray):
    return np.sqrt(np.sum((p-q)**2))

In [103]:
def pred(x,x_train,y_train,k):
    dist=[]
    for i,row in x_train.iterrows():
        dist.append(euclidean_distance(row,x))
    dist2=np.argsort(dist)[:k]
    k_nearest_labels = []
    for i in dist2:
      k_nearest_labels.append(y_train.iloc[i])
    return np.bincount(k_nearest_labels).argmax()
    
def pred_all(test,train,y_train,k):
    pred_todos=[]
    for i, row in test.iterrows():
        pred_todos.append(pred(row,train,y_train,k))
    return pred_todos
#    return np.array(y_pred)

In [104]:
ans1=pred_all(X_test,X_train,y_train,5)
ans2=pred_all(X_test,X_train,y_train,3)
ans3=pred_all(X_test,X_train,y_train,1)

In [ ]:
y_test=y_test.astype(int)

In [124]:
precision1= skm.precision_score(ans1,y_test,average='weighted')
precision2= skm.precision_score(ans2,y_test,average='weighted')
precision3= skm.precision_score(ans3,y_test,average='weighted')

In [131]:
print("Precision score with k=5:",round(precision1,2)*100,"%")
print("Precision score with k=3:",round(precision2,2)*100,"%")
print("Precision score with k=1:",round(precision3,2)*100,"%")

Precision score with k=5: 93.0 %
Precision score with k=3: 96.0 %
Precision score with k=1: 96.0 %

In [145]:
exactitud=skm.accuracy_score(ans1,y_test)
exactitud2=skm.accuracy_score(ans2,y_test)
exactitud3=skm.accuracy_score(ans3,y_test)

print("Exactitud para k=5",round(exactitud,2)*100,"%")
print("Exactitud para k=3",round(exactitud2,2)*100,"%")
print("Exactitud para k=1",round(exactitud3,2)*100,"%")

Exactitud para k=5 93.0 %
Exactitud para k=3 96.0 %
Exactitud para k=1 96.0 %

In [146]:
sensibilidad=skm.recall_score(ans1,y_test,average='weighted')
sensibilidad2=skm.recall_score(ans2,y_test,average='weighted')
sensibilidad3=skm.recall_score(ans3,y_test,average='weighted')
print("Sensibilidad para k=5",round(sensibilidad,2)*100,"%")
print("Sensibilidad para k=3",round(sensibilidad2,2)*100,"%")
print("Sensibilidad para k=1",round(sensibilidad3,2)*100,"%")

Sensibilidad para k=5 93.0 %
Sensibilidad para k=3 96.0 %
Sensibilidad para k=1 96.0 %

In [148]:
puntaje=skm.f1_score(ans1,y_test,average='weighted')
puntaje2=skm.f1_score(ans2,y_test,average='weighted')
puntaje3=skm.f1_score(ans3,y_test,average='weighted')
print("F1-score para k=5",round(puntaje,2)*100,"%")
print("F1-score para k=3",round(puntaje2,2)*100,"%")
print("F1-score para k=1",round(puntaje3,2)*100,"%")

F1-score para k=5 93.0 %
F1-score para k=3 96.0 %
F1-score para k=1 96.0 %