In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [55]:
iris= pd.read_csv("/Users/sebastianloeza/Desktop/Escuela/4to semestre/Aplicaciones_Ciencia_Datos/Practicas/PracticaKNN/Iris.csv")

In [64]:
iris['Species'].value_counts()

1    50
2    50
3    50
Name: Species, dtype: int64

In [62]:
iris.loc[iris['Species']=='Iris-virginica','Species']=3

In [63]:
iris

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm Species
0      1            5.1           3.5            1.4           0.2       1
1      2            4.9           3.0            1.4           0.2       1
2      3            4.7           3.2            1.3           0.2       1
3      4            4.6           3.1            1.5           0.2       1
4      5            5.0           3.6            1.4           0.2       1
..   ...            ...           ...            ...           ...     ...
145  146            6.7           3.0            5.2           2.3       3
146  147            6.3           2.5            5.0           1.9       3
147  148            6.5           3.0            5.2           2.0       3
148  149            6.2           3.4            5.4           2.3       3
149  150            5.9           3.0            5.1           1.8       3

[150 rows x 6 columns]

In [65]:
X_train,X_test,y_train,y_test= train_test_split(x,y, test_size=0.3 )

In [67]:
print(type(X_train))
print(type(X_test))
print(type(y_train))
print(type(y_test))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [68]:
def euclidean_distance(p:np.ndarray,q:np.ndarray):
    return np.sqrt(np.sum((p-q)**2))

In [69]:
def pred(x,x_train,y_train,k):
    dist=[]
    for i,row in x_train.iterrows():
        dist.append(euclidean_distance(row,x))
    dist2=np.argsort(dist)[:k]
    k_nearest_labels = []
    for i in dist2:
      k_nearest_labels.append(y_train.iloc[i])
    return np.bincount(k_nearest_labels).argmax()
    
def pred_all(test,train,y_train,k):
    pred_todos=[]
    for i, row in test.iterrows():
        pred_todos.append(pred(row,train,y_train,k))
    return pred_todos
#    return np.array(y_pred)

In [70]:
ans=pred_all(X_test,X_train,y_train,5)

In [71]:
ans

[1,
 3,
 3,
 3,
 1,
 3,
 1,
 3,
 3,
 3,
 3,
 1,
 3,
 3,
 3,
 3,
 3,
 1,
 3,
 3,
 3,
 3,
 1,
 3,
 3,
 1,
 1,
 1,
 3,
 1,
 3,
 1,
 1,
 3,
 3,
 3,
 3,
 3,
 1,
 1,
 1,
 3,
 3,
 3,
 1]